/*body {
    padding-top: 50px;
    padding-bottom: 30px;
}

.body {
    background-color: rebeccapurple;
}
.MenuStyle{
    background-color:red;
}
.my-links {
    float: left;
    display: inline;
    font-size: medium;
    margin-left: 50px;
}
#my-logo {
    display: block;
    max-width: 50%;
    height: 20px;
    float: left;
    
}
.Airportbox:hover {
    background-color: #808080;
}
.addlink, #AirportSelect h4 {
    display: inline;
}*/
